:root {
  --black-0: #060616;
  --black-1: #1f1f22;
  --white-0: #f9f8f9;
  --white-1: #ffffff;
  --white-2: #dddddd;
  --blue: #3490dc;
  --indigo: #6574cd;
  --purple: #9561e2;
  --pink: #f66d9b;
  --red: #e3342f;
  --red-deep: #d21312;
  --orange: #f6993f;
  --yellow: #ffed4a;
  --green: #38c172;
  --teal: #4dc0b5;
  --cyan: #6cb2eb;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #3490dc;
  --secondary: #6c757d;
  --success: #38c172;
  --info: #6cb2eb;
  --warning: #ffed4a;
  --danger: #e3342f;
  --light: #f8f9fa;
  --dark: #343a40;
  --primary-font: "Poppins", sans-serif; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: var(--white-1);
  width: 100%;
  max-width: 180rem;
  margin-inline: auto; }

.h3__footer {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--white-0);
  letter-spacing: 1px;
  padding-bottom: 12px; }

.sectionCards {
  width: 100%;
  padding: 2rem 8%; }
  .sectionCards .resultsContainer {
    padding: 8rem 0 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .sectionCards .resultsContainer .results {
      font-family: var(--primary-font);
      font-size: 1.6rem;
      font-weight: 400;
      letter-spacing: 1px; }
    .sectionCards .resultsContainer .dropdownContainer {
      display: flex;
      gap: 6px;
      align-items: center;
      font-family: var(--primary-font);
      font-size: 1.4rem;
      font-weight: 300; }
      .sectionCards .resultsContainer .dropdownContainer .dropdown .sortBtn {
        padding: 0.8rem 1.5rem;
        background: none;
        border: 1px solid var(--white-2);
        font-weight: 100;
        border-radius: 4px;
        cursor: pointer; }
        .sectionCards .resultsContainer .dropdownContainer .dropdown .sortBtn .icon {
          display: inline-block;
          width: 1em;
          height: 1em;
          stroke-width: 0;
          stroke: var(--black-1);
          fill: var(--black-1);
          transform: scale(2);
          margin-left: 4px; }
  .sectionCards .cardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
    row-gap: 4rem;
    column-gap: 3rem;
    place-content: center; }
    .sectionCards .cardsContainer .businessCard {
      border-radius: 6px;
      overflow: hidden;
      font-family: var(--primary-font);
      background-color: var(--white-0);
      -webkit-box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.4);
      box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.4); }
      .sectionCards .cardsContainer .businessCard__imageContainer .imageLink .imageBox .image {
        height: 18rem;
        width: 100%;
        object-fit: cover; }
      .sectionCards .cardsContainer .businessCard__details {
        padding: 1rem;
        padding-top: 0.5rem; }
        .sectionCards .cardsContainer .businessCard__details .businessLocation .locationText {
          font-size: 1.2rem;
          font-weight: 400; }
        .sectionCards .cardsContainer .businessCard__details .businessHeading {
          padding: 1.2rem 0; }
          .sectionCards .cardsContainer .businessCard__details .businessHeading .headingText {
            text-decoration: none;
            font-size: 1.5rem;
            font-family: 600;
            color: var(--black-1);
            line-height: 1; }
        .sectionCards .cardsContainer .businessCard__details .businessCategory {
          display: flex;
          align-items: center;
          gap: 10px;
          padding-bottom: 0.5rem; }
          .sectionCards .cardsContainer .businessCard__details .businessCategory .categoryHead {
            font-size: 1.2rem;
            text-transform: uppercase; }
          .sectionCards .cardsContainer .businessCard__details .businessCategory .categoryName__link {
            text-decoration: none;
            font-size: 1.2rem;
            color: var(--blue); }
        .sectionCards .cardsContainer .businessCard__details .businessIndustry {
          display: flex;
          align-items: flex-start;
          gap: 16px; }
          .sectionCards .cardsContainer .businessCard__details .businessIndustry .industryHead {
            font-size: 1.2rem;
            text-transform: uppercase; }
          .sectionCards .cardsContainer .businessCard__details .businessIndustry .industryName__link {
            text-decoration: none;
            font-size: 1.2rem;
            color: var(--blue); }
        .sectionCards .cardsContainer .businessCard__details .businessPrice {
          padding: 1rem 0 1.2rem 0; }
          .sectionCards .cardsContainer .businessCard__details .businessPrice__link {
            text-decoration: none;
            color: var(--red);
            font-size: 1.6rem;
            font-weight: 700;
            letter-spacing: 1px; }
  .sectionCards .loadButton {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 4rem 0; }
    .sectionCards .loadButton .load {
      width: 10rem;
      height: 4rem;
      background-color: var(--red);
      border: none;
      font-family: var(--primary-font);
      font-size: 1.4rem;
      font-weight: 500;
      color: var(--white-0);
      border-radius: 4px;
      cursor: pointer;
      transition: all 0.1s ease-in; }
      .sectionCards .loadButton .load:hover {
        background-color: var(--red-deep); }

.sectionFooter {
  background-color: var(--dark); }
  .sectionFooter .footerContainer {
    display: flex;
    justify-content: center;
    gap: 5vw;
    font-family: var(--primary-font);
    padding: 8rem 5%; }
    .sectionFooter .footerContainer .left {
      display: flex;
      gap: 5vw; }
    .sectionFooter .footerContainer .right {
      display: flex;
      gap: 5vw; }
    .sectionFooter .footerContainer .sectionListBox .sectionList {
      list-style: none; }
      .sectionFooter .footerContainer .sectionListBox .sectionList .headerText {
        padding-bottom: 6px; }
        .sectionFooter .footerContainer .sectionListBox .sectionList .headerText h3 {
          text-transform: uppercase;
          font-size: 1.6rem;
          font-weight: 400;
          color: var(--white-0);
          letter-spacing: 1px; }
      .sectionFooter .footerContainer .sectionListBox .sectionList .listItem {
        padding: 6px 0; }
        .sectionFooter .footerContainer .sectionListBox .sectionList .listItem__link {
          text-decoration: none;
          color: var(--light);
          font-size: 1.2rem;
          font-weight: 300;
          letter-spacing: 2px;
          transition: all 0.1s ease-in; }
          .sectionFooter .footerContainer .sectionListBox .sectionList .listItem__link:hover {
            color: var(--red); }
    .sectionFooter .footerContainer .sectionEmail .notifyForm {
      position: relative;
      border-radius: 4px;
      overflow: hidden; }
      .sectionFooter .footerContainer .sectionEmail .notifyForm .inputBox .email {
        font-family: var(--primary-font);
        padding: 6px 8px;
        border: none;
        min-width: 20rem;
        width: 25rem; }
      .sectionFooter .footerContainer .sectionEmail .notifyForm .inputBox .email:focus {
        outline: none;
        color: var(--dark); }
      .sectionFooter .footerContainer .sectionEmail .notifyForm .notifyBtn {
        font-family: var(--primary-font);
        font-size: 1.2rem;
        padding: 7px 8px;
        color: var(--white-0);
        background-color: var(--red);
        border: none;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer; }
        .sectionFooter .footerContainer .sectionEmail .notifyForm .notifyBtn:hover {
          background-color: var(--red-deep); }
  .sectionFooter .footerBrand {
    padding: 0 10%; }
    .sectionFooter .footerBrand .brandImage {
      width: 100%;
      display: flex;
      justify-content: center; }
      .sectionFooter .footerBrand .brandImage__link {
        text-decoration: none; }
    .sectionFooter .footerBrand .socialLinkContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative; }
      .sectionFooter .footerBrand .socialLinkContainer .playstoreLinks {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        top: 2.5rem; }
        .sectionFooter .footerBrand .socialLinkContainer .playstoreLinks .googleplayLink {
          display: block;
          height: 4rem;
          width: 12.8rem;
          background-color: var(--white-1);
          border-radius: 7px; }
          .sectionFooter .footerBrand .socialLinkContainer .playstoreLinks .googleplayLink .googleplayImg {
            width: 100%;
            height: 100%; }
        .sectionFooter .footerBrand .socialLinkContainer .playstoreLinks .appstoreLink {
          display: block;
          height: 7rem;
          width: 17.3rem; }
          .sectionFooter .footerBrand .socialLinkContainer .playstoreLinks .appstoreLink .appstoreImg {
            height: 100%;
            width: 100%; }
      .sectionFooter .footerBrand .socialLinkContainer .socialMediaBox {
        display: flex;
        gap: 1rem;
        padding: 4rem 0; }
        .sectionFooter .footerBrand .socialLinkContainer .socialMediaBox .socialLink {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 3.5rem;
          width: 3.5rem;
          background-color: var(--gray);
          border-radius: 50%;
          transition: all 0.1s ease-in; }
          .sectionFooter .footerBrand .socialLinkContainer .socialMediaBox .socialLink:hover {
            background-color: var(--red); }
          .sectionFooter .footerBrand .socialLinkContainer .socialMediaBox .socialLink span {
            display: flex;
            justify-content: center;
            align-items: center; }
            .sectionFooter .footerBrand .socialLinkContainer .socialMediaBox .socialLink span svg {
              height: 1.6rem;
              width: 1.6rem;
              fill: var(--white-0); }
            .sectionFooter .footerBrand .socialLinkContainer .socialMediaBox .socialLink span .insta {
              height: 1.6rem;
              width: 1.6rem;
              fill: var(--white-0);
              transform: scale(1.2); }

.navbar {
  position: fixed;
  padding: 1rem 2rem;
  width: 100%;
  border-bottom: 1px solid var(--white-2);
  background-color: var(--white-1); }
  .navbar .navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .navbar .navbarContainer .logoBox .logo {
      height: 4rem;
      width: 100%; }
    .navbar .navbarContainer .search {
      display: flex;
      width: 25%;
      position: relative; }
      .navbar .navbarContainer .search__input {
        font-family: var(--primary-font);
        font-size: 1.4rem;
        padding: 1.2rem 2rem;
        color: var(--dark);
        background-color: var(--white-1);
        width: 100%;
        border-radius: 40px;
        border: 1px solid var(--white-2); }
      .navbar .navbarContainer .search__input:focus {
        outline: none;
        color: var(--dark); }
      .navbar .navbarContainer .search ::placeholder {
        color: var(--dark);
        font-family: var(--primary-font);
        opacity: 0.9; }
      .navbar .navbarContainer .search__button {
        background-color: var(--red);
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 50%;
        position: absolute;
        top: 0.6rem;
        right: 0.8rem;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.1s ease-in; }
        .navbar .navbarContainer .search__button:hover {
          background-color: var(--red-deep); }
        .navbar .navbarContainer .search__button .icon {
          display: inline-block;
          width: 2rem;
          height: 2rem;
          stroke-width: 0;
          stroke: var(--white-1);
          fill: var(--white-1); }
    .navbar .navbarContainer .infoBox {
      padding-right: 2rem; }
      .navbar .navbarContainer .infoBox .infoList {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 4rem;
        font-family: var(--primary-font);
        font-size: 1.6rem; }
        .navbar .navbarContainer .infoBox .infoList .contact .contactLink {
          text-decoration: none;
          color: var(--dark); }
        .navbar .navbarContainer .infoBox .infoList .login .loginLink {
          text-decoration: none;
          display: flex;
          align-items: center;
          gap: 1.5rem;
          padding: 0.8rem 0.8rem;
          border: 1px solid var(--white-2);
          border-radius: 20px; }
