.navbar {
  position: fixed;
  padding: 1rem 2rem;
  width: 100%;
  border-bottom: 1px solid var(--white-2);
  background-color: var(--white-1);

  .navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logoBox {
      .logo {
        height: 4rem;
        width: 100%;
      }
    }

    .search {
      display: flex;
      width: 25%;
      position: relative;

      &__input {
        font-family: var(--primary-font);
        font-size: 1.4rem;
        padding: 1.2rem 2rem;
        color: var(--dark);
        background-color: var(--white-1);
        width: 100%;
        border-radius: 40px;
        border: 1px solid var(--white-2);
      }

      &__input:focus {
        outline: none;
        color: var(--dark);
      }

      ::placeholder {
        color: var(--dark);
        font-family: var(--primary-font);
        opacity: 0.9;
      }

      &__button {
        background-color: var(--red);
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 50%;
        position: absolute;
        top: 0.6rem;
        right: 0.8rem;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background-color: var(--red-deep);
        }

        .icon {
          display: inline-block;
          width: 2rem;
          height: 2rem;
          stroke-width: 0;
          stroke: var(--white-1);
          fill: var(--white-1);
        }
      }
    }

    .infoBox {
      padding-right: 2rem;

      .infoList {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 4rem;
        font-family: var(--primary-font);
        font-size: 1.6rem;

        .contact {
          .contactLink {
            text-decoration: none;
            color: var(--dark);
          }
        }

        .login {
          padding: 0.8rem 0.8rem;
          border: 1px solid var(--white-2);
          border-radius: 20px;

          .loginLink {
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: 1.5rem;
          }
        }
      }
    }
  }
}
